body {
    padding: 30px;
    margin: 0px auto !important;
}

.jumbotron {
    margin-top: 0 auto;
    justify-content: center !important;
    width: 600px;
    text-align: center;
    background-color: #ff99ff !important;
    color: #0033cc;
}
.vertical-center{
    display: flex;
  align-items: center;
}

li:hover {
    margin-left: 1em;
    background-color: #00cc00;
}


#question {
    background: red;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}

#title {
    text-align: center;
}

h1 {
    text-align: center;
}

.timer,
.time {
    background: #33ccff;
    padding-bottom: 0px;
}


.headers{
  width:600px;
}
.game-view{
  width: 700px;
  margin: 0 auto;
  al
}
